// Theme Colors
$light-blue: #ADD8E6;

// Basic Colors
$white: #fff;

$black: #000;
$black-light: #555f63;

$grey: #aebabe;
$grey-light: #f8f8f8;
$grey-background: #f8f9fa;
$grey-tablehead: #f8fafc;
$grey-highlight: #f2f4f7;
$grey-separator: #dee3e9;
$grey-border: #b3b3b3;
$grey-text: #9baeb8;
$grey-dark: #738a94;
$grey-outline: rgba(179, 179, 179, 0.85);

// Button Colors
$primary-btn: #3B82F6;
$primary-btn-hover: #2563eb;

// Success Green
$success-green: #4BB543;

// Error Red
$error-red: #FF9494;