<p-menubar [model]="menuItems">
  <div>
      <button
        pButton
        type="button"
        label="Logout"
        icon="pi pi-power-off"
        style="margin-left:.25em"
        [routerLink]="'/'"
      ></button>
  </div>
</p-menubar>

<p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000">
  <h2 class="sideBarItems" [routerLink]="'/dashboard'">Process</h2>
</p-sidebar>

<div class="dashboard">
  <div class="bg-img"></div>
  <p class="heading">Process</p>
  <div class="dashboard-container">

    <div class="left-div">
      <p-dropdown
        [options]="kieContainers"
        [(ngModel)]="selectedContainer"
        placeholder="Select Container ID"
        optionLabel="container-id"
        [showClear]="true"
        (onChange)="onContainerIdChange()">
      </p-dropdown>

      <div class="process-dropdown">
        <p-dropdown
          [options]="allProcesses"
          [(ngModel)]="selectedProcess"
          placeholder="Select Process ID"
          optionLabel="process-id"
          [showClear]="true"
          (onChange)="onProcessIdChange()">
        </p-dropdown>
      </div>

      <div class="form-skeleton" *ngIf="disabled; else showFormFields">
        <div class="skeleton"> <p-skeleton height="2.5rem" styleClass="mb-2"></p-skeleton> </div>
        <div class="skeleton"> <p-skeleton width="20rem" height="2.5rem" styleClass="mb-2"></p-skeleton> </div>
        <div class="skeleton"> <p-skeleton width="15rem" styleClass="mb-2"></p-skeleton> </div>
      </div>

      <ng-template #showFormFields>
        <div class="form">
          <div class="form-fields">
            <form [formGroup]="form">
              <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
              <div class="btn-container">
                <hcm-primary-btn
                  label="Submit"
                  icon=""
                  type="submit"
                  [disabled]="false"
                  (onClick)="formSubmit()"
                ></hcm-primary-btn>
                <hcm-secondary-btn
                  label="Reset"
                  icon=""
                  type="reset"
                  [disabled]="false"
                  (onClick)="form.reset()"
                ></hcm-secondary-btn>
              </div>
            </form>
          </div>
        </div>
      </ng-template>

      <!-- NO DISPLAY -->
      <div *ngFor="let field of fields" class="form-display-none">
        <form [formGroup]="form" (ngSubmit)="formSubmit()">
          <formly-form [model]="model" [fields]="fields" [form]="form"></formly-form>
        </form>
      </div>
      <!-- NO DISPLAY -->
    </div>

    <div class="right-div">
      <div class="process-definition-diagram">
        <div class="diagram-heading">Process Definition Diagram:</div>
        <div class="no-diagram" *ngIf="!processDefinitionSvg">Select Process ID</div>
        <div class="svg" *ngIf="processDefinitionSvg" [innerHTML]="processDefinitionSvg | safeHtml"></div>
      </div>
    </div>
  </div>

  <p-messages [(value)]="msg" [enableService]="false"></p-messages>

  <div class="accordion-container">
    <p-accordion>
      <p-accordionTab header="Process Details" [selected]="false">
        <div class="process-instance-diagram">
          <div class="diagram-heading">Process Instance Diagram:</div>
          <div class="svg" *ngIf="processInstanceSvg" [innerHTML]="processInstanceSvg | safeHtml"></div>
        </div>
        <p-table [value]="[{}]" styleClass="p-datatable-gridlines">
          <ng-template pTemplate="caption">
            Process Instance ID: {{processInstanceId}}
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let key of processHistoryKeys">{{startCase(key)}}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body">
            <tr>
              <td *ngFor="let value of processHistoryValues">{{value}}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
